body {
  background-color: #e4004b;
}
h1 {
  color: aquamarine;
  text-align: center;
  text-decoration: black line-through;
}
h2 {
  color: rgb(142, 187, 198);
  background-color: rgb(32, 76, 89);
}
button {
  color: white;
  font-size: larger;
  background-color: rgb(142, 187, 198);
  padding: 20px;
  border-radius: 10px;
  font-weight: bolder;
  border: colorrgb(142, 187, 198);
}
body span {
  background-color: rgb(118, 76, 89);
  font-size: xx-large;
  color: #280a3e;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

.cerita {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 600;
  line-height: 2.5;
}
a {
  text-decoration: none;
}
