* {
  background-color: rgb(255, 255, 255);
}

input[type="password"] {
  color: red;
}
h1,
h2 {
  color: magenta;
}

button {
  background-color: red;
}
#pencarian {
  width: 100px;
  height: 100px;
  color: #a2af9b;
  background-color: #faf9ee;
  font-size: 1em;
  font-weight: bolder;
}
.text {
  text-decoration: none;
  font-size: 2.5em;
  background-color: antiquewhite;
}
.tag {
  text-decoration: none;
  list-style-type: disc;
}
button:hover {
  color: rgb(255, 255, 255);
  background-color: green;
  font-size: 2.5em;
}
#pencarian:hover {
  background-color: red;
}
#pencarian:active {
  background-color: rgb(17, 192, 163);
}
input[type="password"]:placeholder-shown {
  color: rgb(128, 109, 109);
  font-weight: 700;
  font-style: italic;
}
